@media (max-width: 768px) { .side-bar { position: sticky; top: 0; z-index: 999; } .site-footer { display: none; } }

.site-nav ul li a { background-image: linear-gradient(-90deg, #ebedf5 0%, rgba(235, 237, 245, 0.8) 80%, rgba(235, 237, 245, 0) 100%); }
